Repository yomidevs/yomitan, pull requests merged in 2025-08, with the labels that each got.

#2117 Add Korean to "Search text with non-Japanese, Chinese, or Cantonese characters" setting
  ext/css/visibility-modifiers.css
  ext/js/language/ja/japanese.js
  ext/js/language/ko/korean.js
  ext/js/language/translator.js
  ext/settings.html
Labels: kind/enhancement, area/linguistics

#2108 Added loading builds instructions for firefox and edge on CONTRIBUTING
  CONTRIBUTING.md
Labels: area/documentation

#2113 Use term reading for all occurences in sentence furigana
  ext/js/comm/yomitan-api.js
  ext/js/data/anki-note-builder.js
Labels: kind/enhancement, area/anki

#2097 Allow disabling default audio sources
  ext/data/schemas/options-schema.json
  ext/js/background/backend.js
  ext/js/comm/yomitan-api.js
  ext/js/data/anki-note-builder.js
  ext/js/data/options-util.js
  ext/js/display/display-anki.js
  ext/js/display/display-audio.js
  ext/js/media/audio-downloader.js
  ext/templates-modals.html
  test/options-util.test.js
  types/ext/anki-note-builder.d.ts
  types/ext/display-audio.d.ts
  types/ext/settings.d.ts
Labels: kind/enhancement, regression, area/audio, area/settings

#2119 Support capital N and NY for katakana in the special n handling
  ext/js/language/ja/japanese-wanakana.js
  test/japanese-util.test.js
Labels: kind/bug, area/ui-ux

#2123 Only allow glossaryLayoutMode 'compact-popup-anki' to trigger compact glossaries for non structured content dicts
  ext/js/data/anki-note-data-creator.js
Labels: kind/bug, area/anki

#2126 Add option for preventing middle click action when hovering over text
  ext/data/schemas/options-schema.json
  ext/js/app/frontend.js
  ext/js/data/options-util.js
  ext/js/display/display.js
  ext/js/language/text-scanner.js
  ext/templates-modals.html
  test/options-util.test.js
  types/ext/settings.d.ts
  types/ext/text-scanner.d.ts
Labels: kind/enhancement, area/ui-ux, area/settings

#2140 Add data transmission consent modal for firefox
  ext/css/settings.css
  ext/data/schemas/options-schema.json
  ext/js/data/options-util.js
  ext/js/pages/settings/data-transmission-consent-controller.js
  ext/js/pages/settings/modal.js
  ext/js/pages/settings/settings-display-controller.js
  ext/js/pages/welcome-main.js
  ext/templates-modals.html
  ext/welcome.html
  test/options-util.test.js
  types/ext/settings.d.ts
Labels: browser/firefox, priority/high, area/settings
